@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}

.font-primary {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --header-position: sticky;
    --content-offset: 116px;
    --header-height: 180px;
    --header-mb: -116px;
    --avatar-image-transform: translate3d(0rem, 0, 0) scale(1);
    --avatar-border-transform: translate3d(-0.2222222222222222rem, 0, 0)
      scale(1.7777777777777777);
    --avatar-border-opacity: 0;
    --header-top: 0px;
    --avatar-top: 0px;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --header-position: sticky;
    --content-offset: 116px;
    --header-height: 180px;
    --header-mb: -116px;
    --avatar-image-transform: translate3d(0rem, 0, 0) scale(1);
    --avatar-border-transform: translate3d(-0.2222222222222222rem, 0, 0)
      scale(1.7777777777777777);
    --avatar-border-opacity: 0;
    --header-top: 0px;
    --avatar-top: 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/***************************************************
 * Generated by SVG Artista on 1/31/2025, 9:34:57 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
  stroke-dashoffset: 36112.69921875px;
  stroke-dasharray: 36112.69921875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.6s,
    fill 3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
    fill 3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(254, 254, 254);
}

svg .svg-elem-2 {
  stroke-dashoffset: 22541.376953125px;
  stroke-dasharray: 22541.376953125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      1.6s,
    fill 3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s,
    fill 3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(254, 254, 254);
}

svg .svg-elem-3 {
  stroke-dashoffset: 36112.7109375px;
  stroke-dasharray: 36112.7109375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      2.6s,
    fill 3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s,
    fill 3s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(254, 254, 254);
}

svg .svg-elem-4 {
  stroke-dashoffset: 22541.3828125px;
  stroke-dasharray: 22541.3828125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      3.6s,
    fill 3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
  transition: stroke-dashoffset 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6s,
    fill 3s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(254, 254, 254);
}

.str0 {
  stroke: #ebecec;
  stroke-width: 20;
  stroke-miterlimit: 22.9256;
}
.fil0 {
  fill: #fefefe;
  fill-rule: nonzero;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes text-glow {
  0%,
  100% {
    color: #00e626;
  }
  50% {
    color: #00e626;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

.glowing-bg {
  background: radial-gradient(circle, #00e626, transparent);
  animation: glow 2s infinite;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px #00e626;
  }
  50% {
    box-shadow: 0 0 20px #00e626;
  }
}

.animate-text-glow {
  animation: text-glow 2s infinite;
}

.prototype--viewerContainer--8C5YF {
  margin: 0 !important;
}
